[submodule "src/competitors/fast64"]
	path = src/competitors/fast64
	url = https://github.com/RyanMarcus/fast64.git
[submodule "external/protobuf"]
	path = external/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "external/abseil"]
	path = external/abseil
	url = https://github.com/abseil/abseil-cpp.git
[submodule "external/libdivide"]
	path = external/libdivide
	url = https://github.com/ridiculousfish/libdivide.git
[submodule "external/hashing"]
	path = external/hashing
	url = https://github.com/DominikHorn/hashing.git
[submodule "external/learnedhashing"]
	path = external/learnedhashing
	url = https://github.com/DominikHorn/learned-hashing.git
[submodule "external/pgm"]
	path = external/pgm
	url = https://github.com/gvinciguerra/PGM-index.git
